# auto-added by RStudio
.Rhistory
.RData
.Rproj.user
# added over time
*.Rproj
*.Ruserdata
data
rsconnect
comparisons
*.jpg
*.png
*.DS_Store
data/
images/
*.html
/*.csv
*.json
!tests/**/*.json
logs/
www/metadata/*.txt
www/metadata/*.csv
*.txt
sandbox/**/*.csv
sessiondata.csv
metadata.csv
*.docx
*.log
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
metadata.csv
sessiondata.csv
tests/temp/
runShinyApp.R
.nfs00000000034418240000000c
vscDebugger
.Rproj.user
tests/testthat/_snaps/**/*.png
www/client-level-export-data-dictionary.csv
.Renviron