# auto-added by RStudio
.Rhistory
.RData
.Rproj.user
# added over time
*.Rproj
*.Ruserdata
data
rsconnect
comparisons
*.jpg
*.png
*.DS_Store
data/
images/
*.html
/*.csv
*.json
!tests/**/*.json
logs/
*.txt
sandbox/**/*.csv
metadata-analysis/
sessiondata.csv
metadata.csv
*.docx
*.log
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
tests/temp/
runShinyApp.R
.nfs00000000034418240000000c
vscDebugger
.Rproj.user
tests/testthat/_snaps/**/*.png
www/client-level-export-data-dictionary.csv
.Renviron
sandbox/update-FY24-ICF-good-to-FY26.R