.Rproj.user
.Rhistory
.RData
.Ruserdata
data
rsconnect
comparisons
*.jpg
.DS_Store
data/
images/
*.html
/*.csv
*.json
!tests/**/*.json
logs/
www/metadata/*.txt
www/metadata/*.csv
*.txt
sandbox/**/*.csv
*.docx
*.log
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
metadata.csv
sessiondata.csv
tests/shinytest/*-current/
