/* || TABLE OF CONTENTS - use ctrl + f */
/* || HEADER */
/* || MAIN SIDEBAR */
/* || SUBMENU AKA TREEVIEW MENU */
/* || DROP DOWN MENUS */
/* || BOXES */
/* || BUTTONS */
/* || HELP TEXT CIRCLE*/
/* || VALIDATION MESSAGES FOR PLOTS */

.content-wrapper {
  overflow: auto;
}

/* || HEADER */
.skin-black .main-header>.logo:hover {
    color: white; /*text color*/
    background-color: #16697A; /*ming blue*/
}

.skin-black .main-header .navbar {
    background-color: #16697A; /*ming blue*/
}

.skin-black .main-header>.logo {
    background-color: #16697A; /*ming blue*/
    color: white; /*text color*/
    border-bottom: 0 solid transparent;
    border-right: 1px solid #eee;
}

/* menu toggle button */
.skin-black .main-header .navbar>.sidebar-toggle {
    color: white; /*icon color*/
    background-color: #16697A; /*ming blue*/
    border-right: 1px solid #eee;
}

/* toggle button hover */
.skin-black .main-header .navbar .sidebar-toggle:hover {
    color: #16697A; /*icon color - ming blue*/
    background: white;
}

/* || MAIN SIDEBAR */

/*sidebar color*/
.skin-black .main-sidebar {
  background-color: white;
}

/*text color of sidebar menu options*/
.skin-black .sidebar a {
  color: black; /*text color*/
}

/*sidebar color when menu option with no submenu is selected*/
.skin-black .main-sidebar .active {
  background-color: white; /*text color*/
  color: black;
}

/*sidebar color when menu option with a submenu is selected*/
.skin-black .sidebar-menu>li.active>a, .skin-black .sidebar-menu>li:hover>a {
    color: black; /*text color*/
    background: #82C0CC; /*middle blue*/
    border-left-color: white;
}

/* || SUBMENU AKA TREEVIEW MENU */

/*Opened submenu*/
.skin-black .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: white; 
    color: black; /*text color*/
}

/*text color of submenu options when submenu is open*/
.skin-black .treeview-menu>li>a {
    color: black; /*text color*/
}

/*active and hover actions for submenu options*/
.skin-black .treeview-menu>li.active>a, 
.skin-black .treeview-menu>li>a:hover {
    color: black; /*text color*/
    background: #82C0CC; /*middle blue*/
}

/* || DROP DOWN MENUS */

/*drop down select menu after data is uploaded*/
.bootstrap-select>.dropdown-toggle {
    width: 100%;
    border-color: #82C0CC; /*middle blue*/
    color: black;
    background-color: white;
}

/*drop down select menu when data is not uploaded*/
.bootstrap-select>.dropdown-toggle.bs-placeholder {
    width: 100%;
    border-color: #82C0CC; /*middle blue*/
    color: black;
    background-color: white;
}

/* || BOXES */

/*box titles*/
.box-title {
  color: black; /*text colors*/
}

/*fill and text color for box with positive/neutral information*/
.box.box-solid.box-info>.box-header {
    color: black; /*text color*/
    background: #82C0CC; /*middle blue*/
    background-color: #82C0CC; /*middle blue*/
}

/*outline color for box with positive/neutral information*/
.box.box-solid.box-info {
    border: 1px solid #82C0CC; /*middle blue*/
}
/*box with negative alert or error info*/
.box.box-solid.box-danger>.box-header {
    color: black; /*text color*/
    background: #DD614A; /*fire opal*/
    background-color: #DD614A; /*fire opal*/
}

/*box with warning info*/
.box.box-solid.box-warning>.box-header {
    color: black; /*text color*/
    background: #FFA62B; /*orange peel*/
    background-color: #FFA62B; /*orange peel*/
}

/*color of tab for boxes*/
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #16697A; /*ming blue*/
}

/* || BUTTONS */
.btn, .btn-default {
  color: white; /*text color*/
  background-color:#DD614A; /*fire opal*/
  border-color: #DD614A; /*fire opal*/
}

/*button hover*/
.btn:hover {
  color: #DD614A; /*text color - fire opal*/
  background-color: white;
  border-color: #DD614A; /*text color - fire opal*/
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: black;
    color: black; /*text color*/
}

/*progress bar*/
.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: white; /*text color*/
    text-align: center;
    background-color: #16697A; /*ming blue*/
}

/* || HELP TEXT CIRCLE*/
#shiny-tab-tabHome .fa-info-circle {
  position:absolute;
  top:1em;
  right:1em;
}

/* || VALIDATION MESSAGES FOR PLOTS */
.shiny-output-error-validation {
  font-size: 20px;
  text-align: center;
  color: black; /*text color*/
}