
#age_picker > div > div > .bootstrap-select.disabled, .bootstrap-select>.disabled {
    cursor: not-allowed;
    background-color: var(--brand-med_grey2);
}

#age_picker > div {
  width: 100%;
}

#vet_picker > div > div > .bootstrap-select.disabled, .bootstrap-select>.disabled {
    cursor: not-allowed;
    background-color: var(--brand-med_grey2);
}

#vet_picker > div {
 width: 100%; 
}

#race_eth_picker > div > div > .bootstrap-select.disabled, .bootstrap-select>.disabled {
    cursor: not-allowed;
    background-color: var(--brand-med_grey2);
}

#race_eth_picker > div > div {
  width:100%;
}

#syse_subpop_crosstab_selectors {
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  gap: 15px;
}
              
/*remove bottom margin*/
#syse_subpop_crosstab_selectors .form-group, 
#syse_subpop_crosstab_selectors .shiny-input-container, 
#syse_subpop_crosstab_selectors .checkbox, 
#syse_subpop_crosstab_selectors .form-check {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

#syse_subpop_hh_type_container {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  border-right: 2px solid #ccc; 
  padding-right: 15px;
}

.syse_subpop_other_container {
  margin-bottom: 0;
}
/*flex: 1 1 700px; tells it to stretch, BUT if it can't maintain at least 700px
next to Household Type, it forces this entire block to wrap to the next line.
*/
#syse_subpop_crosstab_selectors > div:nth-child(2) {
  display: flex; 
  flex-wrap: wrap; 
  gap: 15px;
}

#syse_subpop_crosstab_selectors > div:nth-child(2) > div { 
  display: flex; 
  align-items: center; 
  gap: 5px;
}
                    
