/*otherwise, we get a 2nd scrollbar on sys overview page*/
#syso_comp_summary_ui_chart, #syse_phd_chart {
  height:100% !important; 
  display: flex;
}

#syso_comp_summary_ui_chart > img,
#syse_phd_chart > img {
  margin: 0 auto;
}


/* vertical bar and spacing of sys demographic selections, 
to group All + Grouped Race selections*/
#syso_composition_selections label.checkbox-inline, 
#syse_phd_selections label.checkbox-inline {
  padding-right: 10px;
}

#syso_composition_selections label.checkbox-inline:nth-child(1),
#syso_composition_selections label.checkbox-inline:nth-child(3),
#syse_phd_selections label.checkbox-inline:nth-child(1),
#syse_phd_selections label.checkbox-inline:nth-child(3) {
  border-right: 1px solid lightgray;
}



/* || CHART INFORMATION TABLES */
.sys_info_table {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

.sys_info_table th, 
.sys_info_table td {
  border: 1px solid black;
  padding: 15px;
}

.sys_info_table th {
  text-align: left;
}

.sys_info_table td {
  vertical-align: top;
}
